#navbar{
    background-color: $secondary;
    margin: 0;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo{
    font-family: $potta;
    padding: 1rem 0;
}
.navbar-cart{
    margin-top: 0.5rem;
    span{
        font-size: 2rem;
        cursor: pointer;
        
    }
}